@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Pacifico');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  background-color: #222;
}

.container {
  font-family: 'Roboto Mono', monospace;
  width: 400px;
  height: 500px;
  background-color: #222;
  margin: 20px auto;
  /*border: 2px solid blue;*/
}

.container-counters {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 150px;
  /*border: 2px solid red;*/
}

header {
  color: lightgreen;
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
  font-size: 30px;
  padding: 50px 0 30px 0;
}

#counter {
  color: lightgreen;
}

.counter-title {
  text-align: center;
}

.output {
  height: 100px;
  width: 120px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.btns {
  height: 50px;
  width: 120px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.dec {
  margin-left: 10px;
}

.inc {
  margin-right: 10px;
}

.dec:hover, .inc:hover {
  cursor: pointer;
}

.container-progress {
  height: 300px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-progress:hover {
  cursor: pointer;
}

#display {
  position: relative;
  width: 200px;
  height: 200px;
}

.timer {
  display:block;
  position: absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  font-size: 3em;
  color: lightgreen;
  width: 200px;
  height: 200px;
}

svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
